@font-face {
    font-family: 'Windsong';
    src: url('Windsong.woff2') format('woff2'),
        url('Windsong.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Courier Prime';
    src: url('CourierPrime.woff2') format('woff2'),
        url('CourierPrime.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

